<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark">

    <!-- Links -->
    <ul class="navbar-nav align-items-center">
      <li class="nav-item">
        <a class="nav-link text-white" href="/"><h1>Shapy!</h1></a>
      </li>
      <li class="nav-item">
        <span class="nav-link text-white ml-4">Juego educativo</span> 
      </li>
      <li class="nav-item">
        <span class="nav-link text-white ml-4">{{ name }}</span> 
      </li>
    </ul>
  
  </nav>